@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  to the Sanin Cars </h1>
    <p>Learn about aboute car <a href="https://www.youtube.com/shorts/QLtGkbzchto"> Web(car) apps with ASP.NET Core.</a></p>
    <br />
    <a href="https://www.youtube.com/shorts/RCdeYH-xsMc"> Sanin Cars</a>


</div>
