@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Saneen Car Showroom is a trusted destination for car 
    enthusiasts and buyers looking for quality, reliability,
    and great service. With a wide range of new and used vehicles 
    from top brands, Saneen offers options to suit every budget and lifestyle.
    Our knowledgeable team is dedicated to helping customers find the perfect car 
    while ensuring a smooth and transparent buying experience.
    Whether you're looking for a family SUV, a sleek sedan, or a powerful truck,
 Saneen Car Showroom is the place to start your journey on the road.</p>

